<link href="./vue/app.css" rel="stylesheet">
<noscript>
  <strong>Você precisará do javascript ativado para poder utilizar o Vue.js</strong>
</noscript>
<div id="app"></div>
<script type="text/javascript" src="./vue/runtime.js"></script>
<script type="text/javascript" src="./vue/chunk-vendors.js"></script>
<script type="text/javascript" src="./vue/app.js"></script>
<script type="text/javascript">
  window._csrf = "<%= _csrf %>"
</script>
