<noscript>
  <strong>Você precisará do javascript ativado para poder utilizar o Vue.js</strong>
</noscript>
<div id="app"></div>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/runtime.js"></script>
